<section class="component">
  <header>
    <h2>
      Lista de tareas simple
    </h2>
  </header>
  <div class="control-group">
    <label for="tarea">Nueva tarea</label>
    <input type="text" name="tarea" id="tarea"
      [(ngModel)] = "tarea.nombre"> 
  </div>
  <div class="control-group">
    <button (click)="onClickAdd()" type="button">Añadir</button>
  </div>
  <footer ngIf > <!-- Para saber si un array existe le preguntamos la longitud, si vale 0 es que no existe -->
    <p>Lista de tareas</p>
    <ul>
      <li *ngFor="let item of aTareas">{{ item.nombre}}</li>
    </ul>
  </footer>
</section>


